* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./блискавка.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: grid;
  gap: 20px;
}
div > h2 {
  color: rgb(100, 174, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

div > p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Helvetica,
    sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h4 {
  color: rgb(100, 174, 240);
}
a {
  color: rgb(100, 174, 240);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
